<div id="details" class="maxwidthcenter">
  <p class="justify">With so many proponents of the Open Web in one place during SXSW, it only makes sense to have an event celebrating our achievements and to get to know one another beyond our online personas.  That's what the Open Web Pool Party at SXSW is all about!</p>
  
  <h2 class="header-block">Party Details</h2>

  <ul>
    <li><p>A 14-Time Flare Bartending Champion Serving Up Libations</p></li>
    <li><p>DJ Johnny Bravo Providing Proper Party Music</p>
    <img class="imgstyle" src="/img/johnny_bravo.jpg"></li>
    <li><p>Local Photographer Extraordinaire Annie Ray Capturing The Event</p></li>
    <img class="imgstyle" src="/img/view.jpg"></li>
    <li><p>Pool Party-Inspired Bites by A Local Food Vendor</p></li>
  </ul>
  
  <div class='mb'>
    <blockquote><p>And what party would be complete without door prizes?</p></blockquote>
  </div>
  
  <div id="vallarta">
    <p class="justify">This year, in addition to our usual cache of electronic devices we tend to hand out, we're sending you to an actual pool...in Puerto Vallarta.</p>
    <img class="imgstyle" src="/img/vallarta_pool.jpg">
    <p class="justify">One lucky attendee will go home with with a 5 day/4 night all inclusive resort package to a fancy place in Puerto Vallarta, Mexico.</p>
    <img class="imgstyle"  src="/img/vallarta_pool_chairs.jpg">
    <p class="justify">Seriously.</p>
    <img class="imgstyle" src="/img/vallarta_hut.jpg">
  </div>
  
</div>
