<footer id="footer">
  <div class="maxwidthcenter pad">
    <p>The code for this site is 100% <a href="https://github.com/joemccann/openwebsxsw">open source</a>.</p>
    <p><span class="star">&#x2605;</span> Another <a href="http://subprint.com">subPrint</a> Production <span class="star">&#x2605;</span></p>
  </div>
</footer>