<footer id="footer">
  <div class="maxwidthcenter pad">
    <p>The code for this site is 100% <a href="https://github.com/joemccann/openwebsxsw">open source</a>.</p>
    <p>&dash;&dash; Another <a href="http://subprint.com">subPrint</a> Production &dash;&dash;</p>
  </div>
</footer>