<!DOCTYPE html>
<html lang="en">
<%- include head %>
<body>
  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript enabled!</p>
    <p>Be sure and come back when you have JavaScript enabled - It's 2013!!!!111!1!</p>
  </noscript>
  <section id="main" role="main">
    <%- include header %>
    <h1>Pay Your Invoice!</h1>
    <p>Thanks for supporting the Open Web SXSW Party!</p>
    <%- include stripe-pay %>
  </section>
  <%- include scripts %>
</body>
</html>