<section role='location' id='location'>
  <div class='pad maxwidthcenter'>
    <h2 class="header-block">Where Is The Party?!</h2>
    <div id="location-fallback">
      <form id="location-form">
        <fieldset>
          <div class="form-item">
              <label for="location-zip">Enter Your Location Zip Code</label>
              <input name="location-zip" maxlength="99999" type="number" required="true" value=""></input>
          </div>
          <div class="form-item">
            <button id="signup-button"><span>Submit Location!</span></button>
          </div>
        </fieldset>
      </form>
    </div>

    <div id="map">
    </div>
  </div>
</section>