<section role='location' id='location'>
  <div class='pad maxwidthcenter'>
    <h2 class="header-block">Where Is The Party?!</h2>
    
    <!-- <div id="location-fallback">
      <form id="location-form">
        <fieldset>
          <div class="form-item">
              <label for="location-zip">Enter Your Location Zip Code</label>
              <input name="location-zip" maxlength="99999" type="number" required="true" value=""></input>
          </div>
          <div class="form-item">
            <button id="signup-button"><span>Submit Location!</span></button>
          </div>
        </fieldset>
      </form>
    </div> -->

    <p><a href="https://maps.google.com/maps?q=Lucy's+Retired+Surfers+Bar+%26+Restaurant,+506+West+Avenue,+Austin,+TX&hl=en&sll=30.276339,-97.747246&sspn=0.025313,0.045276&hq=Lucy's+Retired+Surfers+Bar+%26+Restaurant,&hnear=506+West+Ave,+Austin,+Travis,+Texas+78701&t=m&z=17">Lucy's on West between 5th and 6th!</a></p>

    <div id="map">
    </div>
    
  </div>
</section>