<form id="signup-form" action="/signup" method="POST">
  <fieldset>
    <input type="hidden" name="lat" id="signup-lat" value="">
    <input type="hidden" name="lon" id="signup-lon" value="">
    <div class="form-item">
        <label for="name">Name</label>
        <input name="name" type="name" required value=""></input>
    </div>
    <div class="form-item">
      <label for="email">Email Address</label>
      <input name="email" type="email" required value=""></input>
    </div>
    <div class="form-item">
      <label for="email">Twitter Username (optional)</label>
      <input name="twitter" type="twitter" required value=""></input>
    </div>
    <div class="form-item">
      <button id="signup-button"><span>Register!</span></button>
    </div>
  </fieldset>
</form>