<section role="sponsors">
  <h2>Generously Sponsored By:</h2>
  <a id="sponsor-adobe" href="http://adobe.com">Adobe</a>
  <a id="sponsor-microsoft" href="http://microsoft.com">Microsoft</a>
  <a id="sponsor-node-firm" href="http://nodefirm.com">The Node Firm</a>
  <a id="sponsor-kendo-ui" href="http://kendoui.com">Kendo UI</a>
</section>