<section role="sponsors" id="sponsors">
  <div class="pad">
    <h2>Generously Sponsored By:</h2>
    <a id="sponsor-adobe" class="sponsor" href="http://www.adobe.com">&nbsp;</a>
    <a id="sponsor-microsoft" class="sponsor" href="http://www.microsoft.com">&nbsp;</a>
    <a id="sponsor-uber" class="sponsor" href="http://www.uber.com">&nbsp;</a>
    <a id="sponsor-node-firm" class="sponsor" href="http://www.nodefirm.com">&nbsp;</a>
    <a id="sponsor-titos" class="sponsor" href="http://www.titosvodka.com">&nbsp;</a>
    <a id="sponsor-spacecraft" class="sponsor" href="http://www.gospacecraft.com">&nbsp;</a>
    <a id="sponsor-kendo-ui" class="sponsor" href="http://www.kendoui.com">&nbsp;</a>
  </div>
</section>