<section role="details" id="details">
  <div class="maxwidthcenter pad">
    
    <p class="justify">Has everyone recovered?  It took us a good two weeks to regain our senses, but we’re finally ready to reflect on the awesome experience our community came out for on that glorious day, otherwise known as the 2013 Open Web SXSW Party.</p>

    <p class="justify">The event, which was originally going to be held at a pool, had to be moved last minute because the weather was playing chicken with us.  Luckily, <a href="http://www.lucysretiredsurfers.com/austin">Lucy’s Retired Surfer Bar</a> (only a block away from the pool) welcomed us with open arms.</p>

    <img class="imgstyle" src="/img/IMG_7399.jpg" />

    <p>You could feel the excitement as everyone was greeted by our lifeguard doorman.</p>

    <img class="imgstyle" src="/img/IMG_7348.jpg" />

    <p>He took his job very seriously.</p>

    <img class="imgstyle" src="/img/IMG_7496.jpg" />

    <p>Each guest received a friendship bracelet upon entry.</p>

    <img class="imgstyle marBot2" src="/img/IMG_7415.jpg" />
    <img class="imgstyle marBot2" src="/img/IMG_7308.jpg" />
    <img class="imgstyle marBot2" src="/img/IMG_7444.jpg" />

    <p>Those friendship bracelets granted them access to free Tito’s Vodka cocktails.</p>

    <img class="imgstyle" src="/img/IMG_7422.jpg" />

    <p>And Lone Star beer.</p>

    <img class="imgstyle" src="/img/IMG_7351.jpg" />

    <p>And a mouth watering buffet of Ranch 616 deliciousness, provided by SpaceCraft.</p>

    <img class="imgstyle" src="/img/IMG_7333.jpg" />

    <p>Our guests also received a raffle ticket for a chance to win some insane door prizes.</p>

    <img class="imgstyle" src="/img/IMG_7390.jpg" />
    
    <p>It wasn’t long before everyone found the swag bag table.</p>

    <img class="imgstyle" src="/img/IMG_7322.jpg" />

    <p>The contents inside the bags were enticing.  Who knew that everyone liked visors so much?</p>

    <img class="imgstyle marBot2" src="/img/IMG_7376.jpg" />
    <img class="imgstyle marBot2" src="/img/IMG_7599.jpg" />

    <p>And squirt guns.</p>

    <img class="imgstyle" src="/img/IMG_7531.jpg" />

    <p>And Capri Sun.</p>

    <img class="imgstyle marBot2" src="/img/IMG_7420.jpg" />
    <img class="imgstyle marBot2" src="/img/IMG_7477.jpg" />
    
    <p>And peanut butter crackers.</p>

    <img class="imgstyle" src="/img/IMG_7526.jpg" />

    <p>The Adobe towels were a big hit.</p>


    <img class="imgstyle" src="/img/IMG_7360.jpg" />

    <p>As well as the Microsoft sunglasses.</p>

    <img class="imgstyle" src="/img/IMG_7382.jpg" />

    <p>And the Kendo UI gum and t-shirts.</p>

    <img class="imgstyle marBot2" src="/img/IMG_7669.jpg" />
    <img class="imgstyle marBot2" src="/img/IMG_7590.jpg" />

    <p>We had a lot of giveaways so we got right down to business.</p>

    <img class="imgstyle marBot2" src="/img/IMG_7546.jpg" />

    <p>First up, THREE ChromeBooks, courtesy of KendoUI.</p>

    <img class="imgstyle marBot2" src="/img/IMG_7563.jpg" />
    <img class="imgstyle marBot2" src="/img/IMG_7565.jpg" />
    <img class="imgstyle marBot2" src="/img/IMG_7569.jpg" />

    <p>Next up, THREE Surface Tablets, courtesy of Microsoft.</p>

    <img class="imgstyle marBot2" src="/img/IMG_7611.jpg" />
    <img class="imgstyle marBot2" src="/img/IMG_7612.jpg" />
    <img class="imgstyle marBot2" src="/img/IMG_7614.jpg" />
    
    <p>DJ Johnny Bravvo kept the mood festive.</p>

    <img class="imgstyle" src="/img/IMG_7518.jpg" />

    <p>The Charging Station kept people Tweeting and Facebooking.</p>

    <img class="imgstyle" src="/img/IMG_7389.jpg" />

    <p>We ate, drank, and played with beach balls to our heart’s content.</p>

    <img class="imgstyle" src="/img/IMG_7374.jpg" />

    <p>Then we gave away more cool stuff, such as an iPad Mini, courtesy of Adobe, and some Uber rides.</p>

    <img class="imgstyle" src="/img/IMG_7666.jpg" />

    <p>And a Nexus 4, courtesy of The Node Firm, along with more Uber rides.</p>

    <img class="imgstyle" src="/img/IMG_7714.jpg" />

    <p>We had a blast, obviously.</p>

    <img class="imgstyle marBot2" src="/img/IMG_7645.jpg" />
    <img class="imgstyle marBot2" src="/img/IMG_7737.jpg" />

    <p>But the best was yet to come: an autographed pic of David Hasselhoff, courtesy of the man himself!</p>

    <img class="imgstyle" src="/img/IMG_7777.jpg" />

    <p>And the winner is...</p>

    <img class="imgstyle" src="/img/IMG_7790.jpg" />

    <p>Finally, it was time for the giveaway that everyone had been waiting for: a 5 day, 4 night, all-inclusive trip for 2 to Puerta Vallarta, courtesy of subPrint Interactive.</p>

    <p>You could cut the tension with a knife.</p>

    <img class="imgstyle" src="/img/IMG_7793.jpg" />

    <p>One lucky guy came out on top.</p>

    <img class="imgstyle" src="/img/IMG_7803.jpg" />

    <p>Alas, the end of the party drew near and it was time to call it a day.  Thank you to everyone who came out.  We love the Open Web Community.</p>

    <img class="imgstyle" src="/img/IMG_7690.jpg" />

    <p>This entire event would not have been possible without our INCREDIBLE sponsors:</p>

    <ul>
      <li><a href="http://www.adobe.com/">Adobe</a></li>
      <li><a href="http://www.microsoft.com">Microsoft</a></li>
      <li><a href="http://www.kendoui.com">KendoUI</a></li>
      <li><a href="http://www.gospacecraft.com">SpaceCraft</a></li>
      <li><a href="http://thenodefirm.com">The Node Firm</a></li>
      <li><a href="http://subprint.com">subPrint Interactive</a></li>
      <li><a href="http://www.uber.com">Uber</a></li>
      <li><a href="http://www.titosvodka.com">Tito’s Vodka</a></li>
      <li><a href="http://www.lonestarbeer.com">Lone Star Beer</a></li>
    </ul>

    <p>Also, we couldn’t have put our plan into action without our top-notch staff:</p>

    <ul>
      <li>Event Lead:  <a href="http://twitter.com/mandylauderdale">Mandy Lauderdale</a></li>
      <li>Event Host:  <a href="http://twitter.com/joemccann">Joe McCann</a></li>
      <li>Lifeguard:  <a href="http://www.linkedin.com/pub/ryan-austin/22/55a/803">Ryan Austin</a></li>
      <li>Surfer Girls:  <a href="www.linkedin.com/in/tiffanyharvey">Tiffany Harvey</a> &amp; <a href="https://www.facebook.com/stephanie.stewart.1213">Stephanie Stewart</a></li>
      <li>Happy Helpers: <a href="http://twitter.com/jahoni">Joni Rustulka</a>, <a href="http://twitter.com/brianleroux">Brian Leroux</a>, <a href="http://twitter.com/Kayta___">Katya Guseva</a> &amp; <a href="http://twitter.com/lukenukem">Luke McCann</a></li>
      <li>Photographer:  <a href="http://annieray.net/">Annie Ray</a></li>
      <li>Music:  <a href="http://www.johnnybravvo.com/">DJ Johnny Bravvo</a></li>
      <li>Brittany, Chris, and the entire crew at <a href="http://www.lucysretiredsurfers.com/">Lucy’s Retired Surfer Bar</a></li> 
    </ul>
  
  </div>
</section>
