@import 'variables'

/* 1em = 16px */

/* 1440px */

$trans = translate(85%, 50%)
@media only screen and (max-width: 90em)

  #logo
    normTransform($trans)
    normTransformOrigin(top left)
  
/* 1024px */
$trans = translate(65%, 33%) scale(0.7,0.7)
@media only screen and (max-width: 64em)

  #logo
    normTransform($trans)
      

/* 768px */
$trans = translate(50%, 25%) scale(0.55,0.55)
@media only screen and (max-width: 48em)

  #logo
    normTransform($trans)

  section [role="social"]
    margin 7% 0

    
/* 640px */
$trans = translate(42%, 23%) scale(0.4,0.4)
@media only screen and (max-width: 40em)

  #logo
    normTransform($trans)

  section [role="social"]
    margin 8% 0


  #details
    margin-bottom 7%


/* 480px */
$trans = translate(28%, 17%) scale(0.3,0.3)
@media only screen and (max-width: 30em)

  #logo
    normTransform($trans)
    
  section [role="main"]
    padding 0 2%
    width 96%

  section [role="social"]
    margin 10% 0

  #details
    margin-bottom 15%
    
  .maxwidthcenter
    max-width 320px



/* 320px */
$trans = translate(12%, 7%) scale(0.3,0.3)
@media only screen and (max-width: 20em)
  #logo
    normTransform($trans)

  #details
    margin-bottom 10%
