@import 'variables'

/* 1em = 16px */

/* 1440px */
@media only screen and (max-width: 90em)
  #logo
    -webkit-transform: translate(85%, 50%)
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
  
  
/* 1024px */
@media only screen and (max-width: 64em)
  #logo
    -webkit-transform: translate(65%, 33%) scale(0.7,0.7)
      

/* 768px */
@media only screen and (max-width: 48em)
  #logo
    -webkit-transform: translate(50%, 25%) scale(0.55,0.55)
    
/* 640px */
@media only screen and (max-width: 40em)
  #logo
    -webkit-transform: translate(42%, 23%) scale(0.4,0.4)


/* 480px */
@media only screen and (max-width: 30em)
  #logo
    -webkit-transform: translate(28%, 17%) scale(0.3,0.3)
    

/* 320px */
@media only screen and (max-width: 20em)
  #logo
    -webkit-transform: translate(12%, 7%) scale(0.3,0.3)



