@import 'variables'
@import 'normalize'

*,
*:after,
*:before
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

*
  -webkit-transition: all 0.3s ease
  -moz-transition: all 0.3s ease
  -o-transition: all 0.3s ease
  transition: all 0.3s ease

html, body
  height 100%

body
  font-size: 100%
  font-family: 'LeagueGothicRegular', Helvetica, Arial, sans-serif
  background #f4f5ed url('/img/debut_light.png') repeat top left scroll
  color #444
  
img
  max-width 100%
  
a
  color: $linkColor
  text-decoration none

.block
  display block

.opacity75
  normOpacity(75)
  
.no-touch a:hover
  color: darken(#29d4c7,2)
  text-decoration underline

.louder
  color $linkColor
  font-size 1.125em

.maxwidthcenter
  width 100%
  max-width 480px
  margin 0 auto

.justify
  text-align justify

.header-block
  background #bbb
  padding 4% 0
  margin 0 auto 1em

.imgstyle
  boxShadow(8px 8px 6px -6px rgba(0,0,0, 0.56))
  margin 0 auto

p, li
  font-size 1.6em
  font-weight 100  

h1
  font-size 3.6em
  font-weight normal
  line-height 1.2

h2
  font-size 2.4em
  font-weight 200
  line-height 1.1

ul
  list-style-type none
  margin 0
  padding 0
  
li
  margin 2% 0

li img
  margin 0 auto 2.5%

footer
  margin 3% auto
  text-align center
  width: 100%

section [role="main"]
  width 100%

section [role="social"],
section [role="signup"],
section [role="location"]
  margin 3% auto

section [role="sponsors"] > a
  display block
  font-size 1.4em
  font-weight 100

#container
  margin 0 auto
  text-align center
  padding-bottom 2.5%

#branding
  width 100%
  display block

#logo-container
  position absolute
  top 0
  left 0

#logo
  display inline-block
  margin 0 auto

#vallarta
  margin 0 auto

#sponsors a
  display inline-block
  margin 2%

.sponsor
  width 240px
  margin 3% auto
  height 240px

#sponsor-adobe
  background transparent url('/img/sponsor-adobe.png') no-repeat top left scroll

#sponsor-microsoft
  background transparent url('/img/sponsor-microsoft.png') no-repeat top left scroll

#sponsor-uber
  background transparent url('/img/sponsor-uber.png') no-repeat top left scroll

#sponsor-node-firm
  background transparent url('/img/sponsor-node-firm.png') no-repeat top left scroll

#sponsor-titos
  background transparent url('/img/sponsor-titos.jpg') no-repeat top left scroll

#sponsor-spacecraft
  background transparent url('/img/sponsor-spacecraft.png') no-repeat top left scroll

#sponsor-kendo-ui
  background transparent url('/img/sponsor-kendo-ui.png') no-repeat top left scroll

#sponsor-lone-star
  background transparent url('/img/sponsor-lone-star.jpg') no-repeat top left scroll

  
header
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0, 0.56)
  -moz-box-shadow: 0 8px 6px -6px black
  -webkit-box-shadow: 0 1px 6px 1px rgba(0,0,0, 0.56)

#map
  width 100%
  height 360px
  overflow auto
  max-width 480px
  max-height 320px
  margin 0 auto


.mb
  background lighten($linkColor,25)

.mb blockquote p
    font-family Cambria, Georgia, serif
    font-style italic
    font-size 1.8em
    boxShadow(0 1px 0 rgba(255,255,255,0.1))
    padding: 6%
    text-align center
    margin 0
    text-shadow 1px 1px 2px rgba(0,0,0,0.6)

@import 'forms'  
@import 'buttons'
@import 'open-street-maps'  
@import 'responsive'