@import 'variables'
@import 'normalize'

*,
*:after,
*:before
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

*
  -webkit-transition: all 0.3s ease
  -moz-transition: all 0.3s ease
  -o-transition: all 0.3s ease
  transition: all 0.3s ease

html, body
  height 100%

body
  font-size: 100%
  font-family: 'LeagueGothicRegular', Helvetica, Arial, sans-serif
  background #f4f5ed url('/img/debut_light.png') repeat top left scroll
  color #444
  
img
  max-width 100%
  
a
  color: $linkColor
  text-decoration none

.no-touch a:hover
  color: darken(#29d4c7,2)
  text-decoration underline

p
  font-size 1.6em
  font-weight 100  
  
#container
  margin 0 auto
  text-align center
  padding-bottom 2.5%

#branding
  width 100%
  display block

#logo-container
  position absolute
  top 0
  left 0

#logo
  display inline-block
  margin 0 auto
  
header
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0, 0.56)
  -moz-box-shadow: 0 8px 6px -6px black
  -webkit-box-shadow: 0 1px 6px 1px rgba(0,0,0, 0.56)

h1
  font-size 3.6em
  font-weight normal
  line-height 1.2

footer
  margin 3% auto
  text-align: center
  width: 100%
  
section [role="main"]
  width 100%

fieldset
  border none
  max-width 320px
  margin 0 auto
  background rgba(199, 195, 195, 0.51)

label
  display block
  padding 0 4% 0.5%
  font-size 1.4em
  text-align left

input[type='text'],
input[type='name'],
input[type='email'],
input[type='twitter']
  width 92%
  min-height 36px
  borderRadius(4px)
  padding 4% 4%
  font-size 1.4em
  color #777
  outline none
  normTransition(all 0.30s ease-in-out)

input[type='text']:focus,
input[type='name']:focus,
input[type='email']:focus,
input[type='twitter']:focus
  boxShadow(0 0 15px $linkColor)

.form-item
  padding 1% 3%
  margin 1% auto

.form-item:last-child
  margin 6% auto 2%

  
@import 'buttons'
@import 'responsive'