@import 'variables'
@import 'normalize'

*,
*:after,
*:before
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

*
  -webkit-transition: background 0.3s ease
  -moz-transition: background 0.3s ease
  -o-transition: background 0.3s ease
  transition: background 0.3s ease

body
  padding: 2.5% 3%
  font-size: 100%
  font-family: 'Gochi Hand', sans-serif
  
img
  max-width 100%
  
a
  color: lighten(blue,20)
  
@import 'buttons'