@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('/font/League_Gothic-webfont.eot');
    src: url('/font/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/League_Gothic-webfont.woff') format('woff'),
         url('/font/League_Gothic-webfont.ttf') format('truetype'),
         url('/font/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$linkColor=#29d4c7

borderRadius(radius = 5px)
  -webkit-border-radius: radius
  -moz-border-radius: radius
  -ms-border-radius: radius
  border-radius: radius

boxShadow() 
  -webkit-box-shadow: arguments
  -moz-box-shadow: arguments
  -ms-box-shadow: arguments
  box-shadow: arguments

normTransition(transition)
  -webkit-transition: transition
  -moz-transition: transition
  -ms-transition: transition
  -o-transition: transition
  transition: transition